/*Import font*/
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

body {
  height: 100vh;
  text-align: center;
  font-family: "PT Serif", Helvetica, "Open Sans", serif !important;
  background: url('/static/background-blue.png') bottom left no-repeat transparent;
  background-size: contain;
}

.operator-sara {
  background: url('/static/standup-sara.png') bottom right no-repeat transparent;
}

.operator-stein {
  background: url('/static/standup-stein.png') bottom right no-repeat transparent;
}

.operator-business {
  background: url('/static/man.png') bottom right no-repeat transparent;
}

.operator-shadow {
  background: url('/static/shadow.png') bottom right no-repeat transparent;
}

.operator-borre {
  background: url('/static/standup-borre.png') bottom right no-repeat transparent;
}

.container-fluid {
  padding: 20px;
}

.stand-up {
  z-index: 10;
}

.operator {
  width: 100%;
  height: 400px;
  z-index: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}

.chat-bubble {
  position: relative;
  padding: 15px;
  width: 50%;
  margin: 0 0 0 40%;
  border: 5px solid #5a8f00;
  color: #333;
  background: #fff;
  border-radius: 10px;
}

.chat-bubble::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 90%;
  border-width: 20px 20px 0;
  border-style: solid;
  border-color: #5a8f00 transparent;
  display: block;
  width: 0;
}

.chat-bubble::after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 91%;
  border-width: 13px 13px 0;
  border-style: solid;
  border-color: #fff transparent;
  display: block;
  width: 0;
}

.sara-dialogue {
  bottom: 32vh;
  right: -3%;
}

.app-version {
  margin-top: 10px;
}

@keyframes cop-lights {
  0%   {color: blue;}
  50%  {color: red;}
  100%   {color: blue;}
}
